In [26]:
# Basic Imports 
import numpy as np
import pandas as pd
# Plotting 
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
%matplotlib inline

# Preprocessing
from sklearn.model_selection import train_test_split, KFold
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
# Metrics 
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# ML Models
import lightgbm as lgb
from lightgbm import LGBMRegressor 
import xgboost as xg 
from sklearn.ensemble import RandomForestRegressor
from sklearn import svm
from sklearn.linear_model import LinearRegression

# Ignore Warnings 
import warnings
warnings.filterwarnings('ignore')

In [27]:
dataset=pd.read_csv("Model 6.csv")

In [28]:
dataset.head()

     A    B    C    D    E    F
0  0.5  1.1  1.9  2.7  2.6  0.7
1  1.1  0.7  2.7  2.6  2.2  0.4
2  0.7  0.4  2.6  2.2  2.0  0.5
3  0.4  0.5  2.2  2.0  2.7  1.2
4  0.5  1.2  2.0  2.7  3.2  1.9

In [29]:
# Split into features (X) and target (y)
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, -1]

In [30]:
# Split into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=14)

In [31]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [32]:
from sklearn.model_selection import cross_val_score

In [33]:
##% evaluateRegressor
# from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_scor
def evaluateRegressor(true,predicted,message = "Test set"):
    MSE = mean_squared_error(true,predicted,squared = True)
    MAE = mean_absolute_error(true,predicted)
    RMSE = mean_squared_error(true,predicted,squared = False)
    R_squared = r2_score(true,predicted)
    print(message)
    print("MSE:", MSE)
    print("MAE:", MAE)
    print("RMSE:", RMSE)
    print("R-squared:", R_squared)

In [36]:
##% Initial Models
# from sklearn.ensemble import RandomForestRegressor
# from sklearn import svm
# import lightgbm as lgb
# import xgboost as xg 


SVM = svm.SVR().fit(X_train, y_train)

In [41]:
# Evaluate the performance of the model on a separate test set
y_pred = SVM.predict(X_test)
test_score = mean_squared_error(y_test, y_pred)

print('Optimal number of trees:', )
print('Test score:', test_score)

Optimal number of trees:
Test score: 261.77014691936824

Support Vector Machine
    Training Set
MSE: 1142.5628367569047
MAE: 4.588402959398617
RMSE: 33.801817062946554
R-squared: 0.13032984873568187
    Test Set
MSE: 261.77014691936824
MAE: 2.8208908049223247
RMSE: 16.179312312931234
R-squared: 0.3107082663056252

In [42]:
# Predict on the training and testing data
y_train_pred = SVM.predict(X_train)
y_test_pred = SVM.predict(X_test)
# Calculate the training and testing error metrics
rmse_train = np.sqrt(mean_squared_error(y_train, y_train_pred))
nse_train = 1 - mean_squared_error(y_train, y_train_pred) / np.var(y_train)
r2_train = r2_score(y_train, y_train_pred)
rmse_test = np.sqrt(mean_squared_error(y_test, y_test_pred))
nse_test = 1 - mean_squared_error(y_test, y_test_pred) / np.var(y_test)
r2_test = r2_score(y_test, y_test_pred)

In [43]:
print("SVM:")
print("Train RMSE: {:.4f}".format(rmse_train))
print("Train NSE : {:.4f}".format(nse_train))
print("Train R^2 : {:.4f}".format(r2_train))
print("Test RMSE : {:.4f}".format(rmse_test))
print("Test NSE  : {:.4f}".format(nse_test))
print("Test R^2  : {:.4f}".format(r2_test))

SVM:
Train RMSE: 33.8018
Train NSE : 0.1303
Train R^2 : 0.1303
Test RMSE : 16.1793
Test NSE  : 0.3107
Test R^2  : 0.3107

In [44]:
pd.DataFrame(y_train).to_csv('/content/actualTrain.csv', index=False, header=False)
pd.DataFrame(y_train_pred).to_csv('/content/predictTrain.csv', index=False, header=False)
pd.DataFrame(y_test).to_csv('/content/actualTest.csv', index=False, header=False)
pd.DataFrame(y_test_pred).to_csv('/content/predictTest.csv', index=False, header=False)