In [1]:
# Basic Imports 
import numpy as np
import pandas as pd
# Plotting 
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
%matplotlib inline

# Preprocessing
from sklearn.model_selection import train_test_split, KFold
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
# Metrics 
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# ML Models
import lightgbm as lgb
from lightgbm import LGBMRegressor 
import xgboost as xg 
from sklearn.ensemble import RandomForestRegressor
from sklearn import svm
from sklearn.linear_model import LinearRegression

# Ignore Warnings 
import warnings
warnings.filterwarnings('ignore')

In [3]:
dataset=pd.read_csv("Model 4.csv")

In [4]:
dataset.head()

   SSL(t-1)  SSL(t)  q(t-1)  q(t)
0       0.5     1.1     1.9   2.7
1       1.1     0.7     2.7   2.6
2       0.7     0.4     2.6   2.2
3       0.4     0.5     2.2   2.0
4       0.5     1.2     2.0   2.7

In [5]:
# Split into features (X) and target (y)
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, -1]

In [6]:
# Split into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=14)

In [7]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [8]:
from sklearn.model_selection import cross_val_score

In [9]:
##% evaluateRegressor
# from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_scor
def evaluateRegressor(true,predicted,message = "Test set"):
    MSE = mean_squared_error(true,predicted,squared = True)
    MAE = mean_absolute_error(true,predicted)
    RMSE = mean_squared_error(true,predicted,squared = False)
    R_squared = r2_score(true,predicted)
    print(message)
    print("MSE:", MSE)
    print("MAE:", MAE)
    print("RMSE:", RMSE)
    print("R-squared:", R_squared)

In [10]:
##% Initial Models
# from sklearn.ensemble import RandomForestRegressor
# from sklearn import svm


SVM = svm.SVR().fit(X_train, y_train)

In [11]:
# Evaluate the performance of the model on a separate test set
y_pred = SVM.predict(X_test)
test_score = mean_squared_error(y_test, y_pred)


print('Test score:', test_score)

Test score: 2.36604131961766

In [12]:
# Predict on the training and testing data
y_train_pred = SVM.predict(X_train)
y_test_pred = SVM.predict(X_test)
# Calculate the training and testing error metrics
rmse_train = np.sqrt(mean_squared_error(y_train, y_train_pred))
nse_train = 1 - mean_squared_error(y_train, y_train_pred) / np.var(y_train)
r2_train = r2_score(y_train, y_train_pred)
rmse_test = np.sqrt(mean_squared_error(y_test, y_test_pred))
nse_test = 1 - mean_squared_error(y_test, y_test_pred) / np.var(y_test)
r2_test = r2_score(y_test, y_test_pred)

In [13]:
print("SVM:")
print("Train RMSE: {:.4f}".format(rmse_train))
print("Train NSE : {:.4f}".format(nse_train))
print("Train R^2 : {:.4f}".format(r2_train))
print("Test RMSE : {:.4f}".format(rmse_test))
print("Test NSE  : {:.4f}".format(nse_test))
print("Test R^2  : {:.4f}".format(r2_test))

SVM:
Train RMSE: 1.7334
Train NSE : 0.7432
Train R^2 : 0.7432
Test RMSE : 1.5382
Test NSE  : 0.7773
Test R^2  : 0.7773

In [14]:
pd.DataFrame(y_train).to_csv('/content/actualTrain.csv', index=False, header=False)
pd.DataFrame(y_train_pred).to_csv('/content/predictTrain.csv', index=False, header=False)
pd.DataFrame(y_test).to_csv('/content/actualTest.csv', index=False, header=False)
pd.DataFrame(y_test_pred).to_csv('/content/predictTest.csv', index=False, header=False)